/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bs-lightblue: #1b72e8;
    --bs-dark: #051e34;
    --bs-orange: #f26551;

}

/* debug set */

.debug{

    border: 1px solid black;

}


/* utilities */

.top{

    height: 100vh;

}

.top > .main_page{

    width: calc( 100% - 10%);
    background-color: #1b72e8;

}

.top > .sidebar{

    width: 10%;
    background-color: #f26551;

}
