/* default set */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bs-lightblue: #1b72e8;
    --bs-dark: #051e34;
    --bs-orange: #f26551;
    --bs-lightgray: #e5e5e5;
    --bs-darkerblue: #165bba;
}

/* debug set */

.debug{

    border: 1px solid black;

}


/* utilities */

.top{

    height: 100%;
    margin-top: 60px;
}

.top > .main_page{

    width: 90%;
    background-color: #93b5e5;
    margin-left: 10%;

}

.top > .sidebar{

    width: 10%;
    background-color: var(--bs-dark);
    position: fixed;
    height: 91%;

}

.sidebar_top {

    height: calc( 100% - 60px);

}

.sidebar_bottom {

    height: 60px;
    overflow: hidden;
}

.mobile_logo{

    height: 42px;

}

.fa-bell{

    color: var(--bs-orange);

}

.search{

    background-color: var(--bs-lightgray);

}

.banner_student{

    background-color: var(--bs-lightblue);

}

.button_banner_student{

    background-color: var(--bs-darkerblue);
    font-size: 10px;
    border-radius: 25px;
}

.plus_apps{

    background-color: var(--bs-darkerblue);

}

.offcanvas{

    width: 40% !important;
    
}

.table_padding{

    padding-right: 15rem!important;

}

.fa-code{

    background-color: var(--bs-orange);

}

.font_button{

    font-size: 10px;

}